@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

:root {
    --letra-cordel: 'Sriracha', cursive;
    --letra-header: "Passion One", cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--letra-header);
    font-size: 9vw;
    padding-top: 60px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 60px;
    font-size: 3vw;

}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--letra-cordel);
    padding:  10vh 0 10vh 30px;
    height: auto;
}

.imagem {
    background-color: gray;
    color: white;
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.395);
    width: 55%;
    font-size: 4vw;
}

#primeira {
    background: gray url('img/background001.jpg') center right no-repeat fixed;
    background-size: cover;
}

#segunda {
    background: gray url('img/background002.jpg') center right no-repeat fixed;
    background-size: cover;
}

.normal {
    background-color: white;
    font-size: 4vw;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3vw;
    padding: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}